@font-face {
    font-family: Manrope;
    src: url(Manrope/Manrope-VariableFont_wght.ttf);
}
:root{
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue:hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-height: 100vh;
    padding: 1rem;
    font-size: 13px;
    background-color: var(--LightGrayishBlue);
    font-family: Manrope;
    align-items:center;

}
main{

/* border: solid thin black ; */
border-radius: .5rem;
background-color:white;
display: flex;
flex-direction: row;
/* height: 50vh; */
height: 35vh;
width: 70vw;
}
.drawerImage{
    background-image: url("images/drawers.jpg");
    /* width: 10rem; */
    /* height: 17rem; */
    /* height: 15rem;mobile view */ 
    width: 50vw;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size:cover;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.articlePreview{
    /* padding: 1rem; */
    padding: 2rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.author{
    display: flex;
    flex-direction: row;

}
.author__Img{
    width: 64px;
    clip-path: circle();
    
}
.author__Details{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    margin-left: 1rem;
}
.articlePreview__footer{
    display: flex;
    

    /* flex-direction: row; */
    justify-content: space-between;/*around;*/
    align-items: center;
    position:relative;
    margin: 0 0 1rem;
    /* pc */
    /* width: 50vw; */
}
.articlePreview__ShareBtn{
    /* clip-path: circle(); */
    border-radius:50%;
    /* border:solid thin black; */
    border:none;
    height: 3rem;
    width: 3rem;
    img{
       width: 25px;  
    }

   
}
.articlePreview__ShareBtn:hover,.articlePreview__ShareBtn__Mobile:hover,.articlePreview__SocialLinks:hover,.articlePreview__SocialLinks__Mobile:hover{
    cursor: pointer;
}
.articlePreview__ShareBtn__Mobile{
    /* clip-path: circle(); */
    border-radius:50%;
    /* border:solid thin black; */
    border:none;
    height: 1.5rem;
    width: 1.5rem;
    img{
       width: 12px;
       /* color: white; */
       
    }
    svg path{
        fill:white;
       }
    background-color: var(--DesaturatedDarkBlue);
   
}
/* .articlePreview__ShareBtn__Mobile:hover{
    cursor: pointer;
} */
.articlePreview__SocialLinks{
    display: flex;
    align-items:center;
    background-color:var(--VeryDarkGrayishBlue);
    padding: 1rem;
    column-gap: 16px;
    border-radius: .5rem;
    color:white;
    position: absolute;
    /* left:78vw; */
    right:0;
    /* top:-20vh; */
    top:-8vh;
    img{
        height: 32px;
        width: 32px;
    }
}
.articlePreview__SocialLinks__Mobile{
    display: flex;
    justify-content: space-between;
    background-color: var(--VeryDarkGrayishBlue);
    align-items: center;
    padding: 12px 12px;
    width: 73%;
    border-radius: 0 0 .5rem .5rem;
    p{
        color: white;
    }
}
.articlePreview__SocialLinks__Mobile__SocialLinksButtonsParent{
    display: flex;
    align-items:center;
    column-gap: 12px;

}
.articlePreview__SocialLinks__Mobile__SocialLinksButtons{
width: 20px;
height: 20px;
/* aspect-ratio: 1;  */
}

@media (max-width:760px) {
    main{
        flex-direction: column;
        height: auto;

    }
    .drawerImage{
        height: 22vh;
        width: auto;
        border-radius: .5rem .5rem 0 0;
    }
    .articlePreview__footer{
        padding: 1rem 0;
    }
    .author__Img{
        width: 32px;
    }
    .articlePreview{
        width: auto;
    }
    .articlePreview__ShareBtn{
        height:2rem;
        width: 2rem;
        img{
            width: 12px;
        }
    }
    
}